/* -------------------- IMPORTED FONTS -------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Habibi&family=Irish+Grover&display=swap');

/*-------------------- CSS RESET ---------------------------------------------------*/
/* -------------------- ROOT VARIABLES --------------------------------------- */


/* --------------------GLOBAL STYLES (mobile first/small) --------------------*/
h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 1.75em;
}

h3,
text {
    font-size: 1.25em;
}

h1,
h2,
h3 {
    font-family: "Irish Grover";
}

header {
    background-color: #06A816;
}

@media screen and (min-width: 428px) {}

/*-------------------- MEDIA QUERY (medium) --------------------------------*/
@media screen and (min-width: 834px) {}

/*-------------------- MEDIA QUERY (large) ------------------------------------*/
@media screen and (min-width: 1280px) {}

/*-------------------- MEDIA QUERY (xl) ---------------------------------------*/
@media screen and (min-width: 1440px) {}